
body{
  margin: 0;
  font-family: Helvetica, "游ゴシック", YuGothic, "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

p{
  margin: 0;
}

@import 'variables';
@import 'user';
@import 'status';
